/* class to be added to player-container to fill window */
#player-container.ytd-watch.forat_fillscreen,
#player-container.ytd-watch.forat_fillscreen .html5-video-player .html5-video-container video{
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10000000000 !important;
}
