/* ad over related videos */
#google_companion_ad_div {
    overflow: hidden;
    height: 0px;
}

/* whole ads container inside the youtube video */
.ad-container, .ad-container-single-media-element-annotations, .ad-overlay{
    visibility: hidden;
}
