header{
    position: absolute!important;
    display: block!important;
    height: 70px!important;
    width: 100%!important;
    top: 0px!important;
}

#main{
    padding-top: 100px!important;
}

.zopim{
    display: none;
}

#mv-info{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mv-info .mvi-content {
    display: none;
}

#list-eps {
    background: #000;
    height: 100%;
}

#list-eps .le-server{
    border-bottom: 1px solid #111;
}

#switch-mode{
    display:none;
}
